flags*
.*.swp
.*.d
*.a
*.o
*.xml
*.inc
.redo
test/tur
test/inq
test/log_sense
test/ata_identify
disk-scrub/disk-scrub
disk-survey/disk-survey
tags
test/ata_identify_parse.c
disk-survey/survey_ata_identify_parser.c
